<h1 class="page-title">Pais</h1>

<button class="btn btn-primary mb-3" routerLink="/pais/novo">Cadastrar</button>

<table class="table table-bordered">
  <!-- Cabeçalho da tabela -->
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <!-- Corpo da tabela -->
  <tbody>
    <tr *ngFor="let pais of paises">
      <td>{{ pais.nome }}</td>
      <td>
        <button class="btn btn-link">Editar</button>
        <button class="btn btn-link">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>